
.pointerevents .selectbox .selectbox-helper:before, .sfa-left-nav .expandable-category .links-title span:after, .sfa-left-nav .expandable-category .links-title span .pseudo-after, .sfa-left-nav .closed-expandable-category li.links-title span:after, .sfa-left-nav .closed-expandable-category li.links-title span .pseudo-after, .sfa-left-nav .links-title a:after, .sfa-left-nav .links-title a .pseudo-after, .sfa-left-nav .left-nav-list-hide a:after, .sfa-left-nav .left-nav-list-hide a .pseudo-after {
    display: inline-block;
    font-family: SaksIcon;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: inherit;
    text-decoration: none;
    text-transform: none;
}
#banner-generic, .sfa-zone .expandable .exp-control-text {
    font-weight: 400;
}
#banner-generic {
    font-family: "Gotham 4r","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.sfa-zone .expandable .exp-control-text {
    font-family: "Gotham SSm 4r","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.pointerevents .selectbox .selectbox-helper:before, .sfa-left-nav .expandable-category .links-title span:after, .sfa-left-nav .expandable-category .links-title span .pseudo-after, .sfa-left-nav .closed-expandable-category li.links-title span:after, .sfa-left-nav .closed-expandable-category li.links-title span .pseudo-after, .sfa-left-nav .links-title a:after, .sfa-left-nav .links-title a .pseudo-after, .sfa-left-nav .left-nav-list-hide a:after, .sfa-left-nav .left-nav-list-hide a .pseudo-after {
    display: inline-block;
    font-family: SaksIcon;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: inherit;
    text-decoration: none;
    text-transform: none;
}
#banner-generic, .sfa-zone .expandable .exp-control-text {
    font-weight: 400;
}
#banner-generic {
    font-family: "Gotham 4r","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.sfa-zone .expandable .exp-control-text {
    font-family: "Gotham SSm 4r","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.selectbox label {
    white-space: nowrap;
}
.selectbox select {
    margin-bottom: 0;
}
.selectbox label, .selectbox select {
    display: block;
    width: 100%;
}
.selectbox .selectbox-helper {
    display: block;
    margin-top: 0.3125em;
}
.pointerevents .selectbox select {
    -moz-appearance: none;
    overflow: hidden;
    text-indent: 0.01px;
    text-overflow: "";
    white-space: nowrap;
}
@media not all {
.pointerevents .selectbox select:not(:disabled) {
    padding-right: 28px;
}
}
.pointerevents .selectbox select:disabled {
    position: relative;
}
.pointerevents .selectbox .selectbox-helper {
    position: relative;
}
.pointerevents .selectbox .selectbox-helper:before {
    color: #000;
    content: "m";
    font-size: 8px;
    line-height: 1;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
}
@media not all {
.pointerevents .selectbox .selectbox-helper:before {
    margin-top: -2px;
}
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    background: none repeat scroll 0 0 #fff;
    color: #000;
    font-size: 100%;
}
html, button, input, select, textarea {
    font-family: sans-serif;
}
body {
    margin: 0;
}
a:focus {
    outline: thin dotted;
}
a:active, a:hover {
    outline: 0 none;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}
h3 {
    font-size: 1.17em;
    margin: 1em 0;
}
h4 {
    font-size: 1em;
    margin: 1.33em 0;
}
h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}
h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: 700;
}
blockquote {
    margin: 1em 40px;
}
dfn {
    font-style: italic;
}
hr {
    box-sizing: content-box;
    height: 0;
}
mark {
    background: none repeat scroll 0 0 #ff0;
    color: #000;
}
p, pre {
    margin: 1em 0;
}
code, kbd, pre, samp {
    font-family: monospace,serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before, q:after {
    content: none;
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
dl, menu, ol, ul {
    margin: 1em 0;
}
dd {
    margin: 0 0 0 40px;
}
menu, ol, ul {
    padding: 0 0 0 40px;
}
nav ul, nav ol {
    list-style: none outside none;
}
img {
    border: 0 none;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0 none;
    padding: 0;
    white-space: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
button, input {
    line-height: normal;
}
button, select {
    text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    box-sizing: content-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
label {
    color: #000;
    display: inline-block;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1.66667em;
}
select, textarea, input[type="text"], input[type="email"], input[type="password"] {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    min-height: 30px;
    transition: border 200ms ease 0s;
}
select:hover:not(:disabled), textarea:hover:not(:disabled), input[type="text"]:hover:not(:disabled), input[type="email"]:hover:not(:disabled), input[type="password"]:hover:not(:disabled) {
    border-color: #989898;
}
select:focus:not(:disabled), textarea:focus:not(:disabled), input[type="text"]:focus:not(:disabled), input[type="email"]:focus:not(:disabled), input[type="password"]:focus:not(:disabled) {
    border-color: #222;
    outline: 0 none;
}
select:disabled, textarea:disabled, input[type="text"]:disabled, input[type="email"]:disabled, input[type="password"]:disabled {
    background-color: #e6e6e6;
}
select[disabled], textarea[disabled], input[type="text"][disabled], input[type="email"][disabled], input[type="password"][disabled] {
    background-color: #e6e6e6;
}
textarea {
    resize: none;
}
select {
    padding: 0.45833em 0.66667em;
}
textarea, input[type="text"], input[type="email"], input[type="password"] {
    padding: 0.54167em 0.66667em;
}
textarea.placeholder, input.placeholder[type="text"], input.placeholder[type="email"], input.placeholder[type="password"] {
    color: #999;
    text-transform: capitalize;
}
textarea:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="password"]:-moz-placeholder {
    color: #999;
    text-transform: capitalize;
}
textarea::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="password"]::-moz-placeholder {
    color: #999;
    text-transform: capitalize;
}
textarea[readonly], input[type="text"][readonly], input[type="email"][readonly], input[type="password"][readonly] {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}
textarea[readonly], textarea[readonly]:hover, textarea[readonly]:focus, input[type="text"][readonly], input[type="text"][readonly]:hover, input[type="text"][readonly]:focus, input[type="email"][readonly], input[type="email"][readonly]:hover, input[type="email"][readonly]:focus, input[type="password"][readonly], input[type="password"][readonly]:hover, input[type="password"][readonly]:focus {
    border-color: transparent;
}
input[type="radio"], input[type="checkbox"] {
    margin: 0;
    padding: 0;
}
.lt-ie9 select, .lt-ie9 textarea, .lt-ie9 input[type="text"], .lt-ie9 input[type="email"], .lt-ie9 input[type="password"] {
    min-height: 0;
}
.legacy-pa-content {
    border-left: 1px solid #e1e1e1;
    display: inline-block;
    margin-left: 180px;
    position: relative;
}
.sfa-pa-content {
    display: inline-block;
    margin-left: 180px;
    position: relative;
}
.sfa-pa-content div, .sfa-pa-content font, .sfa-pa-content td, .sfa-pa-content layer {
    font-family: "Gotham Narrow SSm 5r";
    font-size: 12px;
    font-weight: 400;
}
.sfa-pa-content #product-container div {
    font-family: arial,helvetica,sans-serif;
}
.sfa-pa-content .reskin-pa {
    float: left;
    padding-left: 13px;
    width: 766px;
}
.sfa-pa-content .sfa-left-nav {
    float: left;
    margin-left: -181px;
    position: relative;
    width: 179px;
}
.sfa-left-nav {
    font-family: "Gotham Narrow SSm 5r";
    font-size: 12px;
    width: 100%;
}
.sfa-left-nav .left-nav-group-container {
    margin-bottom: 10px;
    margin-top: 15px;
}
.sfa-left-nav .left-nav-group-container .left-nav-groups {
    padding: 0;
}
.sfa-left-nav .sfa-left-nav-content-container {
    padding-bottom: 0;
}
.sfa-left-nav .sfa-left-nav-content-container > ul:first-child {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 10px;
}
.sfa-left-nav .left-nav-dropdown-container {
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 15px;
    padding-bottom: 8px;
}
.sfa-left-nav .left-nav-title {
    border-bottom: 2px solid #000;
    font-family: "Gotham Narrow SSm 7r";
    font-size: 16px;
    padding-bottom: 5px;
}
.sfa-left-nav .left-nav-title {
    margin-bottom: 17px;
}
.sfa-left-nav .left-nav-links-container {
    margin-bottom: 15px;
}
.sfa-left-nav .dropdown-title, .sfa-left-nav .links-title {
    font-family: "Gotham Narrow SSm 7r";
    font-size: 13px;
    text-transform: uppercase;
}
.sfa-left-nav .links-title {
    cursor: pointer;
    position: inherit;
}
.sfa-left-nav .nav-dropdown {
    height: 30px;
    width: 189px;
}
.sfa-left-nav .left-nav-links-container {
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 5px;
}
.sfa-left-nav .left-nav-video {
    border-bottom: 0 none;
    border-top: 1px solid #bfbfbf;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 15px;
}
.sfa-left-nav .last-nav-group {
    border-bottom: 0 none;
    margin-bottom: 5px;
    padding-bottom: 0;
}
.sfa-left-nav .last-nav-link {
    margin-bottom: 0;
    padding-bottom: 0;
}
.sfa-left-nav .selectbox .selectbox-helper {
    margin-top: 0;
}
.sfa-left-nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.sfa-left-nav li {
    margin: 0;
    padding: 0 0 10px;
}
.sfa-left-nav a {
    display: block;
    outline: 0 none;
    text-decoration: none;
}
.sfa-left-nav a:hover {
    font-family: "Gotham Narrow SSm 7r";
}
.sfa-left-nav a:active {
    color: #d2d2d2;
    opacity: 0.6;
}
.sfa-left-nav .expandable-category {
    position: relative;
}
.sfa-left-nav .expandable-category .left-nav-links {
    padding-bottom: 0;
}
.sfa-left-nav .expandable-category .links-title span {
    font-size: 13px;
}
.sfa-left-nav .expandable-category .links-title span {
}
.sfa-left-nav .expandable-category .links-title span .pseudo-after {
}
.sfa-left-nav .expandable-category .links-title span:after, .sfa-left-nav .expandable-category .links-title span .pseudo-after {
    content: "u";
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 0;
}
.sfa-left-nav .closed-expandable-category {
    position: relative;
}
.sfa-left-nav .closed-expandable-category li.links-title span {
    padding-right: 13px;
}
.sfa-left-nav .closed-expandable-category li.links-title span {
}
.sfa-left-nav .closed-expandable-category li.links-title span .pseudo-after {
}
.sfa-left-nav .closed-expandable-category li.links-title span:after, .sfa-left-nav .closed-expandable-category li.links-title span .pseudo-after {
    content: ">";
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 0;
}
.sfa-left-nav .closed-expandable-category .left-nav-links {
    display: none;
}
.sfa-left-nav .left-nav-hide-links {
    display: none;
}
.lt-ie9 .sfa-left-nav select {
    min-height: 0;
}
.sfa-left-nav {
    font-family: "Gotham Narrow SSm 5r";
}
.sfa-left-nav li {
    line-height: 16px;
    padding: 10px 0 0;
}
.sfa-left-nav .left-nav-dropdown-container {
    border-top: 1px solid #bfbfbf;
    margin-top: 15px;
    padding-top: 8px;
}
.sfa-left-nav .sfa-left-nav-content-container > ul:first-child {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.sfa-left-nav .sfa-left-nav-content-container > ul:first-child > *:first-child {
    border-top: 0 none;
    line-height: 12px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}
.sfa-left-nav .sfa-left-nav-content-container > ul:first-child > *:first-child a {
}
.sfa-left-nav .sfa-left-nav-content-container > ul:first-child > *:first-child a:after, .sfa-left-nav .sfa-left-nav-content-container > ul:first-child > *:first-child a .pseudo-after {
    padding-top: 0;
}
.sfa-left-nav a {
    cursor: pointer;
    font-family: "Gotham Narrow SSm 5r";
}
.sfa-left-nav a.landing-page-navigation-ad {
    margin-bottom: 15px;
}
.sfa-left-nav .reskin-sale-text, .sfa-left-nav #SaleShopAll {
    font-family: "Gotham Narrow SSm 7r";
}
.sfa-left-nav .perpetual a {
    border: 0 none;
    font: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
.sfa-left-nav .perpetual a:hover {
    font-family: "Gotham Narrow SSm 7r";
}
.sfa-left-nav .perpetual a:active {
    color: #d2d2d2;
    opacity: 0.6;
}
.sfa-left-nav .perpetual .sub-left-nav {
    margin-left: 10px;
    margin-top: 10px;
}
.sfa-left-nav .perpetual .sub-left-nav:first-child {
    padding: 0;
}
.sfa-left-nav .perpetual .sub-left-nav li ul li {
    margin-left: 10px;
}
.sfa-left-nav .perpetual .sub-left-nav li ul li:first-child {
    margin-top: 15px;
}
.sfa-left-nav .perpetual .sub-left-nav-title {
    display: block;
    text-decoration: none;
}
.sfa-left-nav .perpetual .selected {
    font-family: "Gotham Narrow SSm 7r";
}
.sfa-left-nav .perpetual .left-nav-list-show {
    margin-top: 10px;
    padding: 0;
    position: relative;
}
.sfa-left-nav .perpetual .left-nav-list-show ul > li:first-child {
    padding: 0;
}
.sfa-left-nav .standalone .left-nav-list-hide {
    font-size: 13px;
    padding-top: 12px;
}
.sfa-left-nav .standalone .left-nav-list-hide a {
    font-size: inherit;
}
.sfa-left-nav .guided a {
    border: 0 none;
    font: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
.sfa-left-nav .guided a:hover {
    font-family: "Gotham Narrow SSm 7r";
}
.sfa-left-nav .guided a:active {
    color: #d2d2d2;
    opacity: 0.6;
}
.sfa-left-nav .guided .links-title {
    font-family: "Gotham Narrow SSm 7r";
    font-size: 13px;
}
.sfa-left-nav .guided .left-nav-links-container {
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.sfa-left-nav .guided .left-nav-groups:first-child .left-nav-links-container {
    border-bottom: 0 none;
}
.sfa-left-nav .guided .left-nav-list-show {
    padding: 0;
}
.sfa-left-nav .guided .left-nav-list-show ul > li:first-child {
    padding: 10px 0 0;
}
.sfa-left-nav .links-title {
    border-bottom: 0 none;
    border-top: 1px solid #bfbfbf;
    display: block;
    font-family: "Gotham Narrow SSm 7r";
    font-size: 13px;
    margin-top: 10px;
    padding: 12px 0 0;
    position: relative;
    text-transform: uppercase;
}
.sfa-left-nav .links-title a {
    font-size: 13px;
}
.sfa-left-nav .links-title a {
}
.sfa-left-nav .links-title a .pseudo-after {
}
.sfa-left-nav .links-title a:after, .sfa-left-nav .links-title a .pseudo-after {
    content: "u";
    font-size: 10px;
    padding-top: 11px;
    position: absolute;
    right: 0;
    top: 0;
}
.sfa-left-nav .left-nav-list-hide {
    border-top: 1px solid #bfbfbf;
    font-family: "Gotham Narrow SSm 7r";
    font-size: 13px;
    margin-top: 10px;
    padding-top: 12px;
    position: relative;
    text-transform: uppercase;
}
.sfa-left-nav .left-nav-list-hide a {
    padding-right: 13px;
}
.sfa-left-nav .left-nav-list-hide a {
}
.sfa-left-nav .left-nav-list-hide a .pseudo-after {
}
.sfa-left-nav .left-nav-list-hide a:after, .sfa-left-nav .left-nav-list-hide a .pseudo-after {
    content: ">";
    font-size: 10px;
    padding-top: 11px;
    position: absolute;
    right: 0;
    top: 0;
}
.sfa-left-nav .selectbox-container {
    padding: 10px 0 5px;
}
.lt-ie9 .sfa-left-nav select {
    min-height: 0;
}
#pa-right-content {
    padding-left: 46px;
    width: 798px;
}
#alf-banner-img {
    cursor: pointer;
    display: block;
    margin: 0 auto 5px;
}
#banner img {
    display: block;
    margin: 0 auto 5px;
}
#banner-generic {
    color: #000;
    font-size: 20px;
    height: 15px;
    line-height: 15px;
    margin: 0 0 15px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 798px;
}
#breadcrumb {
    margin-bottom: 6px;
    margin-top: 12px;
}
#breadcrumb a {
    color: #900;
    font-family: "Gotham Narrow SSm 7r";
    font-style: normal;
    text-decoration: underline;
}
#breadcrumb span {
    color: #900;
    font-family: "Gotham Narrow SSm 7r";
    font-style: normal;
}
h1#crumb {
    font-family: "Gotham Narrow SSm 7r";
    height: 10px;
    line-height: 10px;
    margin: 0 0 10px 5px;
    position: relative;
}
h1#crumb a {
    text-decoration: underline;
}
h1#crumb .search-cat span, h1#crumb a {
    color: #000;
    font-size: 12px;
}
h1#crumb span.gt {
    margin: 0 1px 0 7px;
}
.x-out {
    text-decoration: none;
}
.x-out .font-icon-remove {
    font-size: 10px;
    padding-right: 3px;
}
#search-query .search-cat {
    padding-bottom: 6px;
}
#search-query .search-cat span {
    line-height: 1.2;
}
#search-query .search-cat b {
    font-family: "Gotham Narrow SSm 7r";
    font-size: inherit;
    font-weight: 400;
    text-transform: capitalize;
}
#search-query a {
    text-decoration: none;
}
#search-query a .action-link-text {
    border-bottom: 1px solid #bbb;
    transition: border-bottom-color 200ms ease 0s;
}
#search-query a .action-link-text:hover {
    border-bottom-color: #000;
    text-decoration: none;
}
#bubbleSearchTips {
    display: none;
}
#omnContainer {
    display: none;
}
div#FreeShippingDetailsPopUp td {
    line-height: 1.3;
    text-align: center;
}
div#FreeShippingDetailsPopUp span, div#FreeShippingDetailsPopUp strong {
    color: #900;
}
input#email_updates_signup {
    height: 12px;
}
div#navMenuFooterLinks div {
    text-align: center;
}
div.deadendTip {
    background-color: #fff;
    border: 1px solid #000;
    display: block;
    padding: 5px;
    position: absolute;
    text-indent: 0;
    top: -40px;
    width: 100%;
    z-index: 99999;
}
div.deadendTip img {
    left: 10px;
    position: absolute;
    top: 34px;
}
div.deadendTip + img {
    position: absolute;
    top: -7px;
    z-index: 99999999;
}
#SearchString {
    height: 14px;
}
.endecaLink {
    background-color: #000;
    border: 1px solid #000;
    box-shadow: 3px 3px 3px #000;
    color: #fff;
    cursor: pointer;
    font-family: "Gotham Narrow SSm 7r";
    left: -5px;
    padding: 15px;
    position: fixed;
    top: 100px;
    z-index: 5000;
}
.linkDisplayCenter {
    background-color: #fff;
    color: #000;
    cursor: default;
    font-weight: 400;
    left: -2000px;
    position: fixed;
    z-index: 4000;
}
.linkBuildTitle {
    background-color: purple;
    box-shadow: 3px 3px 3px #000;
    color: #fff;
    font-family: "Gotham Narrow SSm 7r";
    padding: 0 2px;
}
.linkBuildLink {
    padding-left: 40px;
}
#builderWarning {
    border-bottom: 1px solid #000;
    font-size: 14px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
}
input#email_updates_signup {
    height: 12px;
}
html.pa-bg {
    background-attachment: fixed;
    background-color: #000;
    background-position: 0 0;
    background-repeat: repeat-x;
}
html.pa-bg body {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
html.pa-bg #saksContainer {
    background-color: #fff;
    margin-bottom: 0;
    padding: 0 15px;
}
div.space13 {
    height: 13px;
    width: 100%;
}
.lt-ie8 li#RECEIVESAKSEMAILUPDATES {
    z-index: -1;
}
.lt-ie8 li.expanded_dk {
    background-color: transparent;
    display: inline;
}
.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}
div.pagination-container {
    padding: 5px 0;
    text-align: center;
    visibility: hidden;
}
div#pc-top div.pa-gination, div#pc-bottom div.pa-gination {
    display: inline;
}
ol.pa-page-number {
    display: inline;
}
ol.pa-page-number li {
    display: inline;
}
ol.pa-page-number a {
    display: inline;
    height: 12px;
    padding: 0 3px;
    text-decoration: underline;
}
ol.pa-page-number a:hover, ol.pa-page-number a:focus {
    font-family: "Gotham Narrow SSm 7r";
}
ol.pa-page-number a.page-selected {
    cursor: default;
    font-family: "Gotham Narrow SSm 7r";
    text-decoration: none;
}
ol.pa-page-number a.prev img, ol.pa-page-number a.next img, ol.pa-page-number a.prev-first img, ol.pa-page-number a.next-last img {
    border: 0 none;
    position: relative;
    top: 1px;
}
#product-pagination-container {
    height: auto;
    width: 765px;
}
.pa-gination .currentView {
    font-family: "Gotham Narrow SSm 7r";
}
#pc-top {
    display: block;
    float: none;
    padding: 15px 0;
    text-align: center;
}
#pc-top .pa-page-number {
    padding: 0;
}
#pc-bottom {
    display: block;
    float: none;
    padding: 15px 0;
    text-align: center;
}
#pc-bottom .pa-page-number {
    padding: 0;
}
b {
    font-weight: 400;
}
.lt-ie8 div.pagination-container div.clear {
    float: left;
}
#product-container {
    font-family: arial,helvetica,sans-serif;
    height: auto;
    position: relative;
    width: 795px;
}
#product-container p {
    line-height: 1;
    margin: 5px 0 0;
}
#product-container .pa-product-large {
    margin-right: 22px;
    width: 250px;
}
div.pa-product {
    float: left;
    margin-right: 15px;
    width: 180px;
}
div.pa-product-fourth {
    float: left;
    width: 180px;
}
.pa-row-spacer {
    float: left;
    height: 15px;
    width: 765px;
}
div.image-container {
    height: 240px;
    margin-bottom: 2px;
    position: relative;
    width: 180px;
}
img.alt-image-large, img.pa-product-large {
    height: 329px;
    position: absolute;
    width: 247px;
}
img.pa-image, img.alt-image {
    height: 240px;
    position: absolute;
    width: 180px;
}
img.quicklook-bottom {
    background-color: gray;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    position: absolute;
    width: 100%;
}
img.quicklook {
    bottom: 0;
    display: none;
    left: 45px;
    position: absolute;
    width: 89px;
}
img.quicklookWithVideo {
    border: 0 none;
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    width: 89px;
    z-index: 0;
}
img.quicklookDesigner {
    border: 0 none;
    bottom: 0;
    display: none;
    left: 79px;
    position: absolute;
    width: 89px;
    z-index: 0;
}
img.quicklookDesignerWithVideo {
    border: 0 none;
    bottom: 0;
    display: none;
    left: 34px;
    position: absolute;
    width: 89px;
    z-index: 0;
}
img.playVideo {
    border: 0 none;
    bottom: 0;
    display: block;
    left: 44.5px;
    position: absolute;
    width: 90px;
    z-index: 0;
}
img.playVideoWithQuickLook {
    border: 0 none;
    bottom: 0;
    display: block;
    left: 89px;
    position: absolute;
    width: 90px;
    z-index: 0;
}
img.playVideoDesigner {
    border: 0 none;
    bottom: 0;
    display: block;
    left: 78.5px;
    position: absolute;
    width: 90px;
    z-index: 0;
}
img.playVideoDesignerWithQuickLook {
    border: 0 none;
    bottom: 0;
    display: block;
    left: 123px;
    position: absolute;
    width: 90px;
    z-index: 0;
}
img.personalize {
    border: 0 none;
    height: 20px;
    left: 155px;
    position: absolute;
    top: 5px;
    width: 20px;
    z-index: 0;
}
img.holiday-pa-bow {
    border: 0 none;
    height: 42px;
    left: 0;
    position: absolute;
    top: 0;
    width: 55px;
    z-index: 5;
}
.totalReviews {
    left: 2px;
    position: relative;
    top: -2px;
}
.pa-product-large {
    float: left;
    margin-right: 11px;
    width: 247px;
}
.pa-product-large-third {
    float: left;
    width: 247px;
}
div.image-container-large {
    height: 329px;
    margin-bottom: 2px;
    position: relative;
    width: 247px;
}
div.image-container-large img.personalize {
    left: 222px;
}
.vidcontainer {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 9;
}
div#tooltip-outer, div#tooltip-outer2 {
    background-color: #fff;
    border: 1px solid #000;
    display: none;
    padding: 1px;
    position: absolute;
    width: 103px;
    z-index: 9999;
}
div#tooltip-inner, div#tooltip-inner2 {
    background-color: #fff;
    padding: 5px 5px 5px 10px;
}
#pricing {
    bottom: 4px;
    position: absolute;
    right: 208px;
}
#price-label {
    color: #000;
    padding-left: 2px;
}
#price-slider {
    background-color: #999;
    display: inline;
    height: 11px;
    position: absolute;
    width: 200px;
}
#price-range {
    bottom: 46px;
    position: absolute;
    right: 72px;
}
#price-range input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #000;
    font-size: 11px;
    line-height: 1;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    width: 25px;
}
.lt-ie8 #product-container {
    z-index: -1;
}
.pa-product-button-container {
    background-color: #000;
    display: inline-block;
    height: 13px;
    opacity: 0.2;
    position: relative;
    top: 96%;
    width: 100%;
}
.mainBoldBlackText {
    color: #000;
    font-family: "Gotham Narrow SSm 5r";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
.mainBlackText {
    color: #000;
    font-family: Arial,Helvetica;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
}
.pre-order-text {
    color: #999;
    text-transform: uppercase;
}
.more-color-text {
    color: #900;
    text-transform: uppercase;
}
.more-color-text.chanel {
    color: #000;
}
.featured-text {
    color: #306;
    text-transform: uppercase;
}
.promo-eligible-text {
    color: #9a0006;
    text-transform: capitalize;
}
.blackBold11 {
    color: #000;
}
#content-wrap {
    margin-top: 10px;
}
.reskin-pa {
}
.reskin-pa #pa-topnav {
    font-family: "Gotham Narrow SSm 5r";
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.reskin-pa #pa-topnav #main-zone {
    margin-bottom: 5px;
}
.reskin-pa #top-ref-border {
    display: none;
}
.reskin-pa #main-refinements {
    margin: inherit;
    position: relative;
    z-index: 10;
}
.reskin-pa #main-refinements #search-tips {
    display: none;
}
.reskin-pa #refine-by-nav {
    background-color: #efefef;
    float: none;
    margin: inherit;
    padding: 10px 5px 10px 10px;
    position: relative;
	clear:both;
}
.reskin-pa #refine-by-nav label {
    font-size: 12px;
    font-weight: 400;
}
.reskin-pa #refine-by-nav .reskin-clear-all {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    color: #000;
    float: right;
    font-size: 20px;
    padding-left: 0;
    padding-right: 8px;
    padding-top: 5px;
    text-decoration: none;
}
.reskin-pa #refine-by-nav .reskin-clear-all img {
    border: 0 none;
}
.reskin-pa #refine-by-nav .ref-cat {
    float: left;
    font-family: "Gotham Narrow SSm 7r";
    line-height: 30px;
    margin: 0 10px 0 0;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 60px;
}
.reskin-pa #refine-by-nav .refine-dropdown {
    background: url("../images/pa_buttons1.png") no-repeat scroll -255px -82px transparent;
    border: 1px solid #b6b6b6;
    color: #333;
    cursor: pointer;
    display: inline;
    font-size: 11px;
    height: 20px;
    margin-right: 2px;
    padding: 1px 2px 2px;
    position: relative;
    width: 132px;
    z-index: 1;
}
.reskin-pa #refine-by-nav .refine-dropdown:hover {
    background: url("../images/pa_buttons1.png") no-repeat scroll -255px -82px transparent;
    border: 1px solid #000;
    color: #333;
    cursor: pointer;
    display: inline;
    height: 20px;
    margin-right: 2px;
    padding: 1px 2px 2px;
    width: 132px;
}
.reskin-pa #refine-by-nav .menu-selected {
    border: 1px solid #bfbfbf;
}
.reskin-pa #refine-by-nav .refine-dropdown-selected {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #bfbfbf #bfbfbf #fff;
    border-image: none;
    border-style: solid;
    border-width: 1px;
}
.reskin-pa #bottom-ref-border {
    display: none;
}
.reskin-pa #sort-by-nav {
    border-bottom: 1px solid #c2c2c2;
    height: auto;
    margin: 0;
    padding: 10px 5px 7px 10px;
    position: relative;
    z-index: 8;
}
.reskin-pa #sort-by-nav .ref-cat {
    float: left;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    line-height: normal;
    text-align: right;
    width: auto;
}
.reskin-pa #sort-menu {
    float: left;
    height: auto;
    line-height: normal;
    margin: 0;
    width: auto;
}
.reskin-pa #sort-menu #sort-by {
    background-color: #fff;
    height: inherit;
    list-style-type: none;
    margin: 0;
    overflow: visible;
    padding: 0;
}
.reskin-pa #sort-menu #sort-by .sort-nav {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    height: inherit;
    outline: 0 none;
    text-indent: inherit;
}
.reskin-pa #sort-menu #sort-by span.sort-nav {
    display: block;
    font-family: "Gotham Narrow SSm 7r";
    text-decoration: none;
}
.reskin-pa #sort-menu #sort-by span.sort-nav {
}
.reskin-pa #sort-menu #sort-by span.sort-nav:before, .reskin-pa #sort-menu #sort-by span.sort-nav .pseudo-before {
    border-color: transparent transparent #c2c2c2;
    border-style: solid;
    border-width: 10px;
    bottom: -11px;
    content: "";
    display: block;
    height: 0;
    margin-right: -10px;
    position: absolute;
    right: 50%;
    width: 0;
}
:first-child + html .reskin-pa #sort-menu #sort-by span.sort-nav:before, *:first-child + html .reskin-pa #sort-menu #sort-by span.sort-nav .pseudo-before {
    bottom: -22px;
}
.reskin-pa #sort-menu #sort-by span.sort-nav:after, .reskin-pa #sort-menu #sort-by span.sort-nav .pseudo-after {
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 9px;
    bottom: -12px;
    content: "";
    display: block;
    height: 0;
    margin-right: -9px;
    position: absolute;
    right: 50%;
    width: 0;
}
:first-child + html .reskin-pa #sort-menu #sort-by span.sort-nav:after, *:first-child + html .reskin-pa #sort-menu #sort-by span.sort-nav .pseudo-after {
    bottom: -23px;
}
.reskin-pa #sort-menu #sort-by li {
    border-left: 1px solid #bfbfbf;
    color: inherit;
    float: left;
    font-family: "Gotham Narrow SSm 5r";
    font-weight: inherit;
    height: inherit;
    margin-left: 7px;
    padding-left: 7px;
    position: relative;
    text-align: center;
}
.reskin-pa #sort-menu #sort-by li:first-child {
    border-left: 0 none;
    margin-left: 0;
    padding-left: 7px;
}
.reskin-pa #sort-menu #sort-by li a {
    text-decoration: none;
}
.reskin-pa #sort-menu #sort-by li span {
    width: auto;
}
.reskin-pa #sort-menu #sort-by li a:hover {
    font-family: "Gotham Narrow SSm 7r";
}
.reskin-pa #sort-menu li#new-arrivals {
    width: 82px;
}
.reskin-pa #sort-menu li#new-arrivals a {
    background-position: -28px 0;
}
.reskin-pa #sort-menu li#new-arrivals a:hover, .reskin-pa #sort-menu #sort-menu ul#sort-by li#new-arrivals span {
    background-position: -28px -21px;
}
.reskin-pa #sort-menu li#best-sellers {
    width: 76px;
}
.reskin-pa #sort-menu li#best-sellers a {
    background-position: -120px 0;
}
.reskin-pa #sort-menu li#best-sellers a:hover, .reskin-pa #sort-menu #sort-menu ul#sort-by li#best-sellers span {
    background-position: -120px -21px;
}
.reskin-pa #sort-menu li#top-rated {
    width: 68px;
}
.reskin-pa #sort-menu li#top-rated a {
    background-position: -205px 0;
}
.reskin-pa #sort-menu li#top-rated a:hover, .reskin-pa #sort-menu #sort-menu ul#sort-by li#top-rated span {
    background-position: -205px -21px;
}
.reskin-pa #sort-menu li#low-to-high {
    width: 114px;
}
.reskin-pa #sort-menu li#low-to-high a {
    background-position: -276px 0;
}
.reskin-pa #sort-menu li#low-to-high a:hover, .reskin-pa #sort-menu #sort-menu ul#sort-by li#low-to-high span {
    background-position: -276px -21px;
}
.reskin-pa #sort-menu li#a-to-z {
    width: 108px;
}
.reskin-pa #sort-menu li#a-to-z a {
    background-position: -379px 0;
}
.reskin-pa #sort-menu li#a-to-z a:hover, .reskin-pa #sort-menu #sort-menu ul#sort-by li#a-to-z span {
    background-position: -379px -21px;
}
.reskin-pa #sort-menu li#category {
    width: 61px;
}
.reskin-pa #sort-menu li#category a {
    background-position: -474px 0;
    width: 69px;
}
.reskin-pa #sort-menu li#category a:hover, .reskin-pa #sort-menu #sort-menu ul#sort-by li#category span {
    background-position: -474px -21px;
    width: 69px;
}
.reskin-pa #sort-menu li#sale-first {
    width: 101px;
}
.reskin-pa #sort-menu li#sale-first a {
    background-position: -543px 0;
    width: 110px;
}
.reskin-pa #sort-menu li#sale-first a:hover, .reskin-pa #sort-menu #sort-menu ul#sort-by li#sale-first span {
    background-position: -543px -21px;
    width: 110px;
}
.reskin-pa .flat {
    box-shadow: 0 0 0 #000;
}
.reskin-pa .sort-by-nav-only {
    margin: -5px 5px;
}
.reskin-pa .hidden {
    display: none;
}
.reskin-pa .hide {
    display: none;
}
.reskin-pa .empty-grouping {
    display: none;
}
.reskin-pa #new-refine-multiselect {
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 5px 5px 10px #000;
    display: none;
    left: 100px;
    min-width: 202px;
    padding: 2px;
    position: absolute;
    top: 50px;
}
.reskin-pa #size-multiselect .multi-select-controls {
    border-bottom: 0 none;
    margin-bottom: 5px;
    padding-bottom: 0;
}
.reskin-pa .multi-select-dropdown {
    background-color: #fff;
    border: 2px solid #000;
    left: -3000px;
    min-width: 202px;
    padding: 2px;
    position: absolute;
    top: -15999px;
}
.reskin-pa .multi-select-dropdown .refinement-quantity {
    padding-left: 0;
}
.reskin-pa .multi-select-dropdown .cancel-button {
    color: #000;
    cursor: pointer;
    float: right;
    padding: 5px 10px 0;

    text-decoration: underline;
}
.reskin-pa .multi-select-dropdown .selection-title {
    float: left;
    font-family: "Gotham Narrow SSm 7r";
    padding: 5px 0 0;
    text-align: left;
}
.reskin-pa .multi-select-dropdown .selection-title .clearall-link {
    cursor: pointer;
    font-family: "Gotham Narrow SSm 5r";
    margin: 0 0 0 5px;
    text-decoration: underline;
}
.reskin-pa .multi-select-dropdown fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.reskin-pa .multi-select-dropdown fieldset .last-column {
    float: left;
    padding-left: 20px;
}
.reskin-pa .multi-select-dropdown fieldset label span {
    color: #999;
}
.reskin-pa .multi-select-dropdown fieldset .min-column {
    float: left;
    margin: 0 0 10px;
    padding-left: 10px;
}
.reskin-pa .multi-select-dropdown fieldset .min-column label {
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 10px 10px 10px 0;
    width: auto;
}
.reskin-pa .multi-select-dropdown fieldset .min-column li {
    display: inline;
    white-space: nowrap;
}
.reskin-pa .multi-select-dropdown fieldset .min-column a {
    display: block;
    padding: 2px 0;
    text-decoration: none;
    width: auto;
}
.reskin-pa .multi-select-dropdown fieldset .ckeckbox {
    margin: 0 3px 0 0;
}
.reskin-pa .multi-select-dropdown fieldset .refined-select-options {
    border-top: 1px solid #d2d2d2;
    margin: 10px 10px 0;
    padding: 10px 0 0;
}
.reskin-pa .multi-select-dropdown fieldset .refined-unselect-options {
    border-top: 1px solid #d2d2d2;
    margin: 0 10px;
    padding: 10px 0 0;
}
.reskin-pa .multi-select-dropdown fieldset .refined-unselect-options .min-column {
    float: left;
    margin: 0 0 10px;
    padding-left: 10px;
}
.reskin-pa .multi-select-dropdown fieldset .refined-unselect-options .min-column label {
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 10px 10px 10px 0;
    width: auto;
}
.reskin-pa .multi-select-dropdown .multi-select-controls {
    color: #000;
    display: block;
    margin: 10px 20px 0;
    padding: 3px 0 5px;
    text-align: right;
}
.reskin-pa .multi-select-dropdown .multi-select-controls .your-selection {
    float: left;
    font-family: "Gotham Narrow SSm 7r";
    padding-left: 5px;
    padding-top: 5px;
}
.reskin-pa .multi-select-dropdown .multi-select-controls .apply-button {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: "Gotham Narrow SSm 7r";
    font-size: 12px;
    margin: 0;
    padding: 8px;
    text-decoration: none;
    text-indent: 0;
}
.reskin-pa .multi-select-dropdown .multi-select-controls .clearall-link-new-refine {
    color: #000;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "Gotham Narrow SSm 5r";
    padding-left: 5px;
    padding-top: 5px;
    text-decoration: underline;
}
.reskin-pa .new-refine-container {
    display: inline-block;
    padding: 10px;
    position: relative;
}
.reskin-pa .new-refine-container ul, .reskin-pa .new-refine-container li {
    list-style: none outside none;
}
.reskin-pa .new-refine-container .new-refine-header {
    font-family: "Gotham Narrow SSm 7r";
    font-weight: 400;
}
.reskin-pa .new-refine-container .new-refine-ul {
    border-left: 1px solid #d2d2d2;
    float: left;
    list-style: none outside none;
    margin: 0;
    max-width: 200px;
    padding: 0;
}
.reskin-pa .new-refine-container .new-refine-ul #new-selected-scroll-li, .reskin-pa .new-refine-container .new-refine-ul #new-unselected-scroll-li {
    overflow-y: scroll;
}
.reskin-pa .new-refine-container .new-refine-header {
    background-color: #f6f6f6;
    border-top: 1px solid #d2d2d2;
    max-width: 200px;
    padding: 5px;
    text-align: center;
    word-wrap: break-word;
}
.reskin-pa .new-refine-container .new-refine-selected-container {
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    margin-top: 0;
    max-width: 200px;
    overflow: hidden;
    padding: 0 5px;
}
.reskin-pa .new-refine-container .new-refine-unselected-container {
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    max-width: 200px;
    overflow: hidden;
    padding: 0 5px;
}
.reskin-pa .new-refine-container .show-overflow {
    overflow: auto;
}
.reskin-pa .new-refine-container .new-refine-selected-ul li {
    padding-top: 2px;
}
.reskin-pa .new-refine-container .new-refine-selected-ul {
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px 10px 10px;
    position: relative;
}
.reskin-pa .new-refine-container .new-refine-selected-ul label {
    cursor: pointer;
}
.reskin-pa .new-refine-container .new-refine-unselected-ul {
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px 10px 10px;
    position: relative;
}
.reskin-pa .new-refine-container .new-refine-unselected-ul label {
    cursor: pointer;
}
.reskin-pa .new-refine-container .dropdown-scroller {
    height: 200px;
    position: absolute;
    z-index: 10;
}
.reskin-pa .new-refine-container .ui-state-default, .reskin-pa .new-refine-container .ui-widget-content .ui-state-default, .reskin-pa .new-refine-container .ui-widget-header .ui-state-default {
    background: none no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 27px;
}
.reskin-pa .new-refine-container #UNselected-scroller {
    border-top: 0 none;
}
.reskin-pa .new-refine-container .new-refine-unselected-ul li {
    padding-top: 10px;
}
.reskin-pa .new-refine-container .new-refine-selected-ul li {
    padding-top: 10px;
}
.reskin-pa .new-refine-container .ui-slider-vertical .ui-slider-handle {
    left: 0;
    margin-bottom: 0;
    margin-left: 0;
}
.reskin-pa .lt-ie8 #clear-all-button {
    z-index: -1;
}
.reskin-pa .lt-ie9 ul.min-column label {
    padding: 0;
}
.lt-ie9 .reskin-pa #pa-topnav #main-refinements #refine-by-nav .refine-dropdown {
    background-position: -255px -82px;
    height: 30px;
    line-height: 22px;
    padding: 3px 0 0 4px;
}
.lt-ie9 .reskin-pa #pa-topnav #main-refinements #refine-by-nav .refine-dropdown:hover {
    background-position: -255px -82px;
    height: 30px;
    line-height: 22px;
    padding: 3px 0 0 4px;
}
.lt-ie8 #sort-menu {
    z-index: -1;
}
.lt-ie8 div#sort-by-nav span.ref-cat {
    z-index: -1;
}
.on-top {
    position: absolute;
    z-index: 1;
}
a.saks-image-map {
    display: block;
}
a.saks-image-map div {
    cursor: pointer;
    position: absolute;
}
.spread-hotspot {
    cursor: pointer;
    position: absolute;
}
.spread-video-container {
    cursor: pointer;
    position: absolute;
}
.spread-video-container a {
    display: block;
}
.spread-video-container object {
    left: 0;
    top: 0;
}
.sfa-zone {
    overflow: hidden;
    position: relative;
}
.sfa-zone img {
    border: 0 none;
}
.sfa-zone area {
    outline: 0 none;
}
.sfa-zone .saks-module {
    background-color: #fff;
    display: inline-block;
    left: 0;
    padding-top: 10px;
    position: relative;
    top: 0;
    vertical-align: middle;
}
.sfa-zone .saks-module:first-child {
    padding-top: 0;
}
.sfa-zone img {
    display: block;
}
.sfa-zone .hero {
    overflow: hidden;
}
.sfa-zone .hero .saks-spread {
    display: none;
    opacity: 0;
}
.sfa-zone .hero.adjacent-promo .sfa-nav-dots {
    bottom: 120px;
}
.sfa-zone .hero .navArrow {
    background-image: url("../images/icons-sb3ff358c2f.png");
    background-position: 0 -1796px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 31px;
    height: 51px;
    margin: -34px 0 0;
    opacity: 0;
    position: absolute;
    top: 51%;
    width: 45px;
    z-index: 10;
}
.sfa-zone .hero .navArrow:hover {
    background-position: 0 -1853px;
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.sfa-zone .hero .navArrow {
    background-image: url("../images/icons2x-saf7fa95ea3.png");
    background-position: 0 -1806.5px;
    background-size: 127px auto, auto auto;
}
.sfa-zone .hero .navArrow:hover {
    background-position: 0 -1863.5px;
}
}
.sfa-zone .hero .navArrow span {
    color: #000;
    height: 51px;
    line-height: 51px;
    text-align: center;
    width: 45px;
}
.sfa-zone .hero .navArrow span:hover {
    color: #fff;
}
.sfa-zone .hero .navArrow-right {
    right: 0;
}
.sfa-zone .hero .navArrow-left {
    left: 0;
}
.sfa-zone .hero.navArrow-show .navArrow {
    opacity: 1;
    transition: opacity 300ms ease-in-out 0s;
}
.sfa-zone .hero2 {
    overflow: hidden;
    width: 100%;
}
.sfa-zone .hero2 .saks-spread {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    opacity: 0;
    overflow: hidden;
    width: 100%;
}
.sfa-zone .hero2.adjacent-promo .sfa-nav-dots {
    bottom: 120px;
}
.sfa-zone .hero2 .navArrow-container {
    left: 50%;
    position: absolute;
    top: 50%;
}
.sfa-zone .hero2 .navArrow-inner {
    left: -50%;
    margin-left: 0;
    position: relative;
    width: 1024px;
}
.sfa-zone .hero2 .navArrow {
    background-image: url("../images/icons-sb3ff358c2f.png");
    background-position: 0 -1796px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 31px;
    height: 51px;
    margin: -34px 0 0;
    opacity: 0;
    position: absolute;
    top: 51%;
    width: 45px;
    z-index: 10;
}
.sfa-zone .hero2 .navArrow:hover {
    background-position: 0 -1853px;
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.sfa-zone .hero2 .navArrow {
    background-image: url("../images/icons2x-saf7fa95ea3.png");
    background-position: 0 -1806.5px;
    background-size: 127px auto, auto auto;
}
.sfa-zone .hero2 .navArrow:hover {
    background-position: 0 -1863.5px;
}
}
.sfa-zone .hero2 .navArrow span {
    color: #000;
    height: 51px;
    line-height: 51px;
    text-align: center;
    width: 45px;
}
.sfa-zone .hero2 .navArrow span:hover {
    color: #fff;
}
.sfa-zone .hero2 .navArrow-right {
    right: 0;
}
.sfa-zone .hero2 .navArrow-left {
    left: 0;
}
.sfa-zone .hero2.navArrow-show .navArrow {
    opacity: 1;
    transition: opacity 300ms ease-in-out 0s;
}
.sfa-zone .hero2 .sfa-nav-dots-inner {
    margin-left: 0;
}
.sfa-zone .hero2 .sentinal {
    display: block;
    position: static;
    visibility: hidden;
    width: auto;
    z-index: 0;
}
.sfa-zone .promo.saks-module {
    display: block;
    padding-top: 0;
}
.sfa-zone .promo .saks-spread {
    top: -100px;
    width: 100%;
}
.sfa-zone .promo .promo-container {
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.sfa-zone .promo .promo-details-cotainer {
    bottom: 0;
    color: #fff;
    padding: 0 30px 20px;
    position: absolute;
}
.sfa-zone .promo .promo-close {
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 10px;
    text-decoration: underline;
    top: 10px;
}
.sfa-zone .promo img {
    display: inline-block;
    vertical-align: middle;
}
.sfa-zone .hero.adjacent-promo + .promo {
    z-index: 1;
}
.sfa-zone .featured .featured-left {
    float: left;
}
.sfa-zone .featured .featured-right {
    border: 1px solid #e8e8e8;
    float: right;
    overflow: hidden;
}
.sfa-zone .featured .saks-spread {
    display: none;
    opacity: 0;
}
.sfa-zone .pointerevents .selectbox .selectbox-helper:before, .pointerevents .selectbox .sfa-zone .selectbox-helper:before, .sfa-zone .sfa-left-nav .expandable-category .links-title span:after, .sfa-left-nav .expandable-category .links-title .sfa-zone span:after, .sfa-zone .sfa-left-nav .expandable-category .links-title span .pseudo-after, .sfa-left-nav .expandable-category .links-title span .sfa-zone .pseudo-after, .sfa-zone .sfa-left-nav .closed-expandable-category li.links-title span:after, .sfa-left-nav .closed-expandable-category li.links-title .sfa-zone span:after, .sfa-zone .sfa-left-nav .closed-expandable-category li.links-title span .pseudo-after, .sfa-left-nav .closed-expandable-category li.links-title span .sfa-zone .pseudo-after, .sfa-zone .sfa-left-nav .links-title a:after, .sfa-left-nav .links-title .sfa-zone a:after, .sfa-zone .sfa-left-nav .links-title a .pseudo-after, .sfa-left-nav .links-title a .sfa-zone .pseudo-after, .sfa-zone .sfa-left-nav .left-nav-list-hide a:after, .sfa-left-nav .left-nav-list-hide .sfa-zone a:after, .sfa-zone .sfa-left-nav .left-nav-list-hide a .pseudo-after, .sfa-left-nav .left-nav-list-hide a .sfa-zone .pseudo-after {
    display: inline-block;
    font-family: SaksIcon;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: inherit;
    text-decoration: none;
    text-transform: none;
}
.sfa-zone .expandable .exp-control-text, .sfa-zone #banner-generic {
    font-weight: 400;
}
.sfa-zone #banner-generic {
    font-family: "Gotham 4r","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.sfa-zone .expandable .exp-control-text {
    font-family: "Gotham SSm 4r","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.sfa-zone .sks-slideshow {
    position: relative;
}
.sfa-zone .sentinal {
    display: block;
    position: static;
    visibility: hidden;
    z-index: 0;
}
.sfa-zone .spreads-wrapper {
    left: 0;
    position: relative;
}
.sfa-zone .saks-spread {
    position: absolute;
}
.sfa-zone .slide-left .saks-spread {
    display: none;
    left: 0;
    opacity: 1;
}
.sfa-zone .navArrow {
    background-image: url("../images/icons-sb3ff358c2f.png");
    background-position: 0 -1796px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 31px;
    height: 51px;
    margin: -34px 0 0;
    position: absolute;
    top: 51%;
    width: 45px;
    z-index: 10;
}
.sfa-zone .navArrow:hover {
    background-position: 0 -1853px;
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.sfa-zone .navArrow {
    background-image: url("../images/icons2x-saf7fa95ea3.png");
    background-position: 0 -1806.5px;
    background-size: 127px auto, auto auto;
}
.sfa-zone .navArrow:hover {
    background-position: 0 -1863.5px;
}
}
.sfa-zone .navArrow span {
    color: #000;
    height: 51px;
    line-height: 51px;
    text-align: center;
    width: 45px;
}
.sfa-zone .navArrow span:hover {
    color: #fff;
}
.sfa-zone .navArrow-right {
    right: 0;
}
.sfa-zone .navArrow-left {
    left: 0;
}
.sfa-zone .social.saks-module {
    padding-top: 34px;
}
.sfa-zone .social iframe {
    border-color: initial;
    border-image: initial;
    border-style: none;
    border-width: initial;
    overflow: hidden;
}
.sfa-zone .expandable {
    overflow: hidden;
}
.sfa-zone .expandable .exp-control {
    cursor: pointer;
    position: absolute;
    top: 43px;
    width: 55px;
    z-index: 5;
}
.sfa-zone .expandable .exp-control .exp-control-center-inner {
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 10px 0 5px;
    position: relative;
    text-align: center;
}
.sfa-zone .expandable .exp-control i {
    font-size: 12px;
}
.sfa-zone .expandable .exp-control-text {
    font-size: 13px;
    letter-spacing: 2px;
}
.sfa-zone .expandable .exp-control-light {
    color: #fff;
}
.sfa-zone .expandable .exp-control-light .exp-control-center-inner {
    border-color: rgba(255, 255, 255, 0.3);
}
.sfa-zone .expandable .exp-control-light div {
    color: #fff;
}
.sfa-zone .expandable .exp-control-dark {
    color: #000;
}
.sfa-zone .expandable .exp-control-dark .exp-control-center-inner {
    border-color: rgba(0, 0, 0, 0.3);
}
.sfa-zone .expandable .exp-control-dark div {
    color: #000;
}
.sfa-zone .expandable .exp-control-center {
    left: 50%;
}
.sfa-zone .expandable .exp-control-center .exp-control-center-inner {
    left: -50%;
}
.sfa-zone .expandable .exp-control-left {
    left: 43px;
}
.sfa-zone .expandable .exp-control-right {
    right: 43px;
}
.sfa-zone .hide {
    display: none !important;
}
.sfa-zone .show {
    display: block !important;
}
.squish .saks-module {
    padding-top: 0;
}
#SearchString {
    height: 14px !important;
}
#saksBody {
    width: 1024px;
}


.reskin-pa #sort-menu #sort-by .sort-nav,
.reskin-pa #sort-menu #sort-by span.sort-nav:before, .reskin-pa #sort-menu #sort-by span.sort-nav .pseudo-before,
.reskin-pa #sort-menu #sort-by .sort-nav span{ font-size:12px; font-family:Arial, Helvetica, sans-serif!important;}

.reskin-pa #sort-menu #sort-by .sort-nav:hover { font-weight:bold; font-size:11.2px  }



.product-con{ width:100%; clear:both; float:left; overflow:hidden;}
.product{ float:left; position:relative; padding:11px;}
.product-img{ width:100%; clear:both; text-align:center; position:relative;}
.quickview{ width:100%; clear:both; position:absolute; bottom:0; background:#cccccc;}
.quickview ul {
    margin: 0 auto;
    padding: 0;
    width: 180px;
}

.quickview ul li{ display:block; float:left; list-style:none;}
.quickview a.quicklook{cursor:pointer; display:block; background:url(../images/quicklook_button.gif) no-repeat; width: 89px; height:12px; font-size:0px; float:left;}
.quickview .videolink{ cursor:pointer;display:block; background:url(../images/playvideo_button.gif) no-repeat; width: 90px; height:12px; font-size:0px;}

.quickview a.quicklook:hover{ display:block; background:url(../images/quicklook_button_over.gif) no-repeat; width: 89px; height:12px; font-size:0px; float:left;}
.quickview .videolink:hover{display:block; background:url(../images/playvideo_button_over.gif) no-repeat; width: 90px; height:12px; font-size:0px;}

.pro-text{ width:100%; clear:both; float:left; padding: 5px 0}
.pro-text h2{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; margin:0; padding:0;}
.pro-text p{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000; margin:5px 0; padding:0; line-height:14px;}
.pro-text span{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000; margin:0; padding:0;    display:block; clear:both;}
.pro-text a{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#900; margin:0; padding:0; text-transform:uppercase; display:block; clear:both;}

.viwepage-foot {
    padding: 35px 0;
}
