{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
   

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="{{ STATIC_URL }}images/slider-1.jpg" alt="">

    </div>
    <div class="item">
      <img src="{{ STATIC_URL }}images/slider-2.jpg" alt="">
      
    </div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  </div>
{% endblock content %}